<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Banner image -->
    <img src="/images/banner.png" alt="Your Skin But Better - Embrace Your Natural Beauty" class="banner-image">

    {{{body}}}
</body>
</html>
